@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1605593085392'); /* IE9 */
  src: url('iconfont.eot?t=1605593085392#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABvAAAAKJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDHAqBIIEcATYCJAMQCwoABCAFhG0HURsXBsgusG3YkyKVCCE2Vpx9cTBwgHj4b+zbfTPzVdtuEo2qp2/apJiE5pUEKdE4RFKgewn7f2vtn3gnzyPvaURMk638mZtbmX1/5zQhWiLRJBMahAihQSMflHZ7ALD/X1d8OWbzeS6n1wIKZH47y20tG3tQm3oBxlsD2xPbZEWSkDeM3UTgEM4TaJpliJ3PLG1BVgGmBeK1FCZkc25FsWJ1oVqztogvKurpU/oEPvPvx3+1yJJUMjD34um0A2O/+BVH97qiBA9B3VxBxhpQiOe14YcSwmImNAcnbQJ1dYm5evzVSy07FsC/PEKSiSqQ3QbrWiTzC0wS/JIk8assGX6Iup6PzgJ7OmOsCPikdrv6ZmNrZ217a313e3Onu8WdHcF3UWw7ao2Ldaf2pv4DlSQZxvRf792oVWkCfBvtXV/CjG7LsEb7mbwav4f0PfdBDMHX99uPA/v/9VYBP7+K591bIH/kt4h6i/6fqGdNCSVAU4ovxcLIWrR7BROaUMdfizP0M4f4NoXUXjcZYa2ZSZHVzVEKYw0VLeuoqjtC06rZzS0jJCFKAyvOFYS+ZyRdP5D1fVEK4xsVU7+o6kcCTZcx2rNlIWT+jNDU6DCry6StAo50Oi9yN1A0PZOyEs7aQYqkj1VLlWJsFgOkORZELVHTmjNOymczymXoeYqFpBpo61Jd63CgXOZ1byrZyoe8MwSZNORgLF2MZFMCnDbW8qXPb0BCk8dELVUD/h2IRGT/TFVJpQdlVhn0qrqXayItQo2mcQxHFB8zo4xCHo/ChPWjGpBNK6mPCIYGlGE93ldZWl/tf+EmaAJ7l0iRo0TF4KEZoScDLNqeiqg57KTEksIDItUukhR1DQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1605593085392') format('woff'),
  url('iconfont.ttf?t=1605593085392') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1605593085392#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseline-close-px:before {
  content: "\e615";
}

.icon-close:before {
  content: "\e65f";
}

.icon-arrow-right:before {
  content: "\e68e";
}

